.icon {
  margin-right: 8px;
  margin-left: 8px;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin-top: 8px;
  margin-bottom: 8px;
}
.button {
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  color: #141414;
}
