:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 24px;
}

li {
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.heading {
  font-size: 48px;
  text-align: start;
  padding-bottom: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text {
  margin: 16px;
}
img {
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b7b4b4;
  cursor: pointer;
  transition: border-color 0.25s;
}

td,
th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0;
}
